@{
    ViewBag.Title = "Index";
}


<br />
<div>
<table border="0" cellpadding="4">
    <tr>
        <td valign="top" align="left">
            <div id="accordion">
	            <h3><a href="#" title="Rasionele verduideliking van geloof">Antwoord</a></h3>
	            <div>		            
                     <a href="http://www.antwoord.org.za" title="Rasionele verduideliking van geloof" class="morelink">Antwoord</a> is ‘n eg Suid-Afrikaanse
                     <br />
                     apologetiek-bediening.
                     <br />
                     Ons spesialiseer in die <br />
                     beantwoording van <br />
                     opregte vrae oor die
                     <br />
                     Christelike geloof,<br />
                      hetsy dit van ‘n
                      <br />soekende of skeptiese<br /> aard sou wees.
                     <br />                     
	            </div>
                <h3><a href="#">Watu</a></h3>
	            <div>		            
                     <a href="http://www.watu.co.za" class="morelink">Watu</a> het die doel om organisasies,
                     <br />
                     kerke,geloofsgemeenskappe en
                     <br />
                     individue by te staan <br />
                     in die skep van relevante <br />
                     omgewings met geloofsgroei as doel.
                     <br />                     
	            </div>
	            <h3><a href="#">Leierskap</a></h3>
	            <div>
		            Vir meer inligting email Arina &nbsp; &nbsp; &nbsp; <br />
                    by <a href="arina@gmail.com">arina@gmail.com</a><br />
	            </div>
                <h3><a href="#">Disippelskap</a></h3>
	            <div>
		            Vir meer inligting email Reynold &nbsp;<br />
                    by <a href="reynoldf@mweb.co.za">reynoldf@mweb.co.za</a><br />
	            </div>
            </div>
        </td>
        <td>
          <div class="container"> 
<ul class="display"> 
	<li> 
		<div class="content_block"> 
			<a href="#"><img src="../../Content/Images/antwoord.JPG" height="80" width="80" alt="" /></a><h2><a href="#">Antwoord</a></h2>
            	
		<!-- ui-dialog -->
		<div id="dialog" title="Antwoord">
			<img src="../../Content/Images/antwoord.JPG" height="80" width="80" alt="" />
            Antwoord is ‘n eg Suid-Afrikaanse 
            apologetiek-bediening. 
            Ons spesialiseer in die 
            beantwoording van 
            opregte vrae oor die 
            Christelike geloof,
            hetsy dit van ‘n 
            soekende of skeptiese
            aard sou wees.
        <h2 class="demoHeaders">Projek fokus</h2>
		
        <div id="tabs">
			<ul>
				<li><a href="#tabs-1">Apologetiek </a></li>
				<li><a href="#tabs-2">Geloofsgroei</a></li>
				<li><a href="#tabs-3">Leierskap</a></li>
                <li><a href="#tabs-4">Disippelskap</a></li>
                <li><a href="#tabs-5">Netwerke</a></li>
			</ul>
			<div id="tabs-1">
                <b>Doelwitte</b>
                <br />
                <ul>
                    <li>• Christene te help toerus om verantwoording te kan doen vir wat en hoekom hulle glo wat hulle glo tot versterking van hul geloof,</li>
                    <li>• aan skeptici te demonstreer dat die Christelike geloof nie ‘n blinde sprong in die donker is nie en sodoende ‘n ongegronde aanklag af te weer, en,</li>
                    <li>• soekende mense uit te nooi om die aansprake van die Christelike geloof te ondersoek ter wille van intellektuele integriteit.</li>
                </ul>
                <br />
                AntWoord streef daarna om hierdie fokus in die konteks van opregte verhoudings te handhaaf.<br />
                Niemand kom summier tot geloof deur ‘n argument nie.<br />
                Tog glo ons dat waar mense omgee en liefde ervaar en waar <br />
                mense se vrae en bekommernisse ernstig opgeneem word, <br />
                daar die plek is waar die Heilige Gees graag werk om tot <br />
                mense se harte deur te dring en om groei en wedergeboorte moontlik te maak
            </div>
			<div id="tabs-2"><b>Hours Available:</b><br />
                Monday:	08:00 - 19:00<br />
                Tuesday:	08:00 - 19:00<br />
                Wednesday:	08:00 - 19:00<br />
                Thursday:	08:00 - 19:00<br />
                Friday:	08:00 - 19:00<br />
                Saturday:	09:00 - 13:00<br />
                Sunday:	Not Available</div>
			<div id="tabs-3">
            Some rating
            </div>
            <div id="tabs-4">
            Sandra<br />
            0821234567<br />
            sandra@mta.co.za<br />
            <br />
            <b>Physical Address</b><br />
            piet str 2<br />
            Eldoraigne<br />
            Saxby Ave<br />
            12345<br />
            0157<br />
            <br />
            

            </div>

		</div>
        </div>
        
        </div> 

        
			Antwoord is ‘n eg Suid-Afrikaanse 
            apologetiek-bediening. 
            Ons spesialiseer in die 
            beantwoording van 
            opregte vrae oor die 
            Christelike geloof,
            hetsy dit van ‘n 
            soekende of skeptiese
            aard sou wees.

        <a href="#" id="dialog_link" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Besonderhede...</a>
	</li> 
	
	<li> 
		<div class="content_block"> 
			<a href="#"><img src="../../Content/Images/watu.png" alt="" /></a> 
			<h2><a href="#">Watu</a></h2> 
			Watu het die doel om organisasies, 
            kerke,geloofsgemeenskappe en 
            individue by te staan 
            in die skep van relevante 
            omgewings met geloofsgroei as doel. 
            </div> 
	</li> 
	<li> 
		<div class="content_block"> 
			<a href="#"><img src="sample5.gif" alt="" /></a> 
			<h2><a href="#">Project Name Name</a></h2> 
			</div> 
	</li> 
	<li> 
		<div class="content_block"> 
			<a href="#"><img src="sample6.gif" alt="" /></a> 
			<h2><a href="#">Image Name</a></h2> 
			Project Description 
		</div> 
	</li> 
	<li> 
		<div class="content_block"> 
			<a href="#"><img src="sample7.gif" alt="" /></a> 
			<h2><a href="#">Image Name</a></h2> 
			Project Description
        </div>
	</li> 
	<li> 
		<div class="content_block"> 
			<a href="#"><img src="sample7.gif" alt="" /></a> 
			<h2><a href="#">Image Name</a></h2> 
			Project Description
        </div>
	</li> 
	<li> 
		<div class="content_block"> 
			<a href="#"><img src="sample7.gif" alt="" /></a> 
			<h2><a href="#">Image Name</a></h2> 
			Project Description
        </div>
	</li> 
</ul> 
</div> 
                

        </td>
    </tr>
</table>
</div>





