@{
    ViewBag.Title = "Index";
}


<br />
<div>
<table border="0" cellpadding="4">
    <tr>
        <td valign="top" align="left">
            <div id="accordion">
                <h3><a href="#" title="Rasionele verduideliking van geloof">Kronos</a></h3>
	            <div>		            
                     <ul>
                        <li>Tuis</li>
                        <li>Biblioteek</li>
                        <li>Ondersteunings Netwerke</li>
                        <li>Projekte</li>
                        <li>Kontak Ons</li>
                     </ul>                  
	            </div>
	            <h3><a href="#" title="Rasionele verduideliking van geloof">Antwoord</a></h3>
	            <div>		            
                     <a href="http://www.antwoord.org.za" title="Rasionele verduideliking van geloof" class="morelink">Antwoord</a> is ‘n eg Suid-Afrikaanse
                     <br />
                     apologetiek-bediening.
                     <br />
                     Ons spesialiseer in die <br />
                     beantwoording van <br />
                     opregte vrae oor die
                     <br />
                     Christelike geloof,<br />
                      hetsy dit van ‘n
                      <br />soekende of skeptiese<br /> aard sou wees.
                     <br />                     
	            </div>
                <h3><a href="#">Watu</a></h3>
	            <div>		            
                     <a href="http://www.watu.org.za" class="morelink">Watu</a> het die doel om organisasies,
                     <br />
                     kerke,geloofsgemeenskappe en
                     <br />
                     individue by te staan <br />
                     in die skep van relevante <br />
                     omgewings met geloofsgroei as doel.
                     <br />                     
	            </div>
	            <h3><a href="#">Leierskap</a></h3>
	            <div>
		            Vir meer inligting email Arina &nbsp; &nbsp; &nbsp; <br />
                    by <a href="arina@gmail.com">arina@gmail.com</a><br />
	            </div>
                <h3><a href="#">Disippelskap</a></h3>
	            <div>
		            Vir meer inligting email Reynold &nbsp;<br />
                    by <a href="reynoldf@mweb.co.za">reynoldf@mweb.co.za</a><br />
	            </div>
            </div>
        </td>
        <td>
          <div id="container">
	            
            </div>
            
        

            <div class="rounded-box">
    <!-- Corners -->
    <div class="top-left-corner">
        <div class="top-left-inside">
            &bull;
        </div>
    </div>
    <div class="bottom-left-corner">
        <div class="bottom-left-inside">
            &bull;
        </div>
    </div>
    <div class="top-right-corner">
        <div class="top-right-inside">
            &bull;
        </div>
    </div>
    <div class="bottom-right-corner">
        <div class="bottom-right-inside">
            &bull;
        </div>
    </div>
    <!-- Content -->
    <div class="box-contents">
        <div>
        <h2><b>Welkom</b></h2>
        <br /><br />
        <h2><b>HELP ONS OM ANDER TE BEMAGTIG!</b></h2>
        <br />
        <p>Jong volwassenes skud
                                        die kerk af! In ‘n
                                        ondersoek deur <b>Cathy
                                        Lynn Grossman</b> van
                                        USA Today is bevind dat
                                        70% van jong
                                        protestante die kerk
                                        verlaat teen die
                                        ouderdom van 23.<br /><br />
                                        Slegs 51% van mense
                            binne en buite die kerk
                            sien Christene as
                            liefdevol, gasvry en
                            ontvanklik.
                            <br />
                            Te veel gelowiges en
                            gemeentes leef vir
                            hulself en nie vir die
                            Koninkryk van God nie.</p>
                    
              <br /><br />
              <br /><br />
              <br /><br />
              <br /><br />
                        
    </div> <!-- end div.box-contents -->
</div> <!-- end div.rounded-box -->



<div class="rounded-box">
    <!-- Corners -->
    <div class="top-left-corner">
        <div class="top-left-inside">
            &bull;
        </div>
    </div>
    <div class="bottom-left-corner">
        <div class="bottom-left-inside">
            &bull;
        </div>
    </div>
    <div class="top-right-corner">
        <div class="top-right-inside">
            &bull;
        </div>
    </div>
    <div class="bottom-right-corner">
        <div class="bottom-right-inside">
            &bull;
        </div>
    </div>
    </div>


    
    





